@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akatab&display=swap');
@import "~react-image-gallery/styles/css/image-gallery.css";

:root {
    --onyx: #393F44ff;
    --space-cadet: #15173Cff;
    --dark-purple: #231622ff;
    --dark-purple-blur: rgba(35, 22, 34, 0.854);
    --old-gold: #CAB71Eff;
    --turquoise: #2DDABAff;
}

body {
    background: url('../background/wallpaper.jpg');

}

.navbar {
    background-color: rgba(21, 23, 60, 0.842);
}

.navbar-buttons {
    font-family: 'Roboto Mono', monospace !important;
    color: white;
    transition: all 0.3s ease;
}

.navbar-buttons:hover {
    color: var(--space-cadet);
    background-color: var(--old-gold) !important;
    transition: all 0.3s ease;
}

.navbar-logo {
    width: 4rem;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.navbar-logo-mobile {
    width: 4rem;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: none;
}

.navbar-logo:hover {
    background-color: var(--old-gold) !important;
    transition: all 0.3s ease;
}

.flag {
    margin-right: 1rem;
}

.languages,.other {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.center-title {
    margin-top: 3rem;
}

.project-button {
    -webkit-box-shadow: 0px 5px 15px -3px #000000;
    box-shadow: 0px 5px 15px -3px #000000;
    backdrop-filter: blur(2px);
}

.projects-container {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.project-carousel {
    width: 50%;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.project {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 10rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    filter: drop-shadow(0 0 0.4rem #2DDABA);
}

.progress-bar {
    width: 100%;
    height: 20px;
    border: 1px solid var(--turquoise);
    background-color: transparent;
    border-radius: 10px;
    overflow: hidden;
}

.progress {
    height: 100%;
    background-color: var(--old-gold);
    transition: width 0.3s ease-in-out;
}

.skills {
    display: flex;
    justify-content: center;
    width: 40rem;
    gap: 5rem;
    margin-bottom: 3rem;
    margin-top: 1rem;
}

.skills_sub {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 1rem;
    flex-direction: column;
}

.info {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center-container {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: auto;
    margin-top: 12rem;
    min-height: 50vh;
    background-color: var(--dark-purple-blur);
    backdrop-filter: blur(2px);
    position: relative;
    color: white;
    filter: drop-shadow(0 0 0.4rem #2DDABA);
    border-radius: 10px;
    font-family: 'Roboto Mono', monospace;
    padding-bottom: 1rem;
    margin-bottom: 5rem;
}

.about-gif {
    filter: drop-shadow(0 0 0.4rem #2DDABA);
    margin-top: 1rem
}

.project-description{
    padding-left: 1rem;
    padding-right: 1rem;
}


@media only screen and (max-width: 768px) {

    .image-gallery-fullscreen-button .image-gallery-svg{
        display: none;
    }

    .info {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .skills {
        width: 18rem;
        gap: 2rem;
    }

    .center-container {
        margin-top: 5rem;
        padding-bottom: 2rem;
        width: 90%;
    }

    .navbar-logo-mobile {
        display: block;
    }

    .project-carousel{
        width: 90%;
    }
}