@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akatab&display=swap');

:root {
    --onyx: #393F44ff;
    --space-cadet: #15173Cff;
    --dark-purple: #231622ff;
    --old-gold: #CAB71Eff;
    --turquoise: #2DDABAff;
}

body {
    background: url('../background/wallpaper.jpg');
    
}

.navbar {
    background-color: rgba(21, 23, 60, 0.842);
}

.navbar-buttons{
    font-family: 'Roboto Mono', monospace !important;
    color: white;
    transition: all 0.3s ease;
}

.navbar-buttons:hover{
    color: var(--space-cadet);
    background-color: var(--old-gold) !important;
    transition: all 0.3s ease;
}

.navbar-logo {
    width: 4rem;
}

.flag {
    margin-right: 1rem;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center-container {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: auto;
    margin-top: 15rem;
    min-height: 50vh;
    background-color: var(--dark-purple);
    position: relative;
    color: white;
    filter: drop-shadow(0 0 0.4rem #2DDABA);
    border-radius: 10px;
    font-family: 'Roboto Mono', monospace;
}

.about-gif{
    filter: drop-shadow(0 0 0.4rem #2DDABA);
    margin-top: 1rem
}

@media only screen and (max-width: 768px) {
    
    .center-container{
        margin-top: 5rem;
        margin-bottom: 5rem;
        padding-bottom: 2rem;
    }

    .info{
        text-align: center;
    }
}